body
{
	background: #F0F0F0;
}

div#divheader
{
	width: 100%;
	height: 160px;
	display: flex;
	flex-direction: row;
}

div#divbanner
{
	width: 85%;
	height: 160px;
	/*background: #FF0000;*/
	background: linear-gradient(to right, #1E5799 0%, #207CCA 63%, #207CCA 68%, #2989D8 78%, #2989D8 78%, #7DB9E8 100%);
	order: 1;
}

img.banner
{
	max-height: 160px;
}

div#divlogin
{
	text-align: center;
	width: 15%;
	height: 160px;
	background: #7DB9E8;
	order: 2;
}

div#divfooter
{
	display: flex;
	flex-direction: row;
	text-align: center;
}

div#divfootercenter
{
	width: 90%;
}

label[for="rememberbox"]
{
	font-size: 60%;
	position: relative;
	top: -3px;
}

form#formlogin
{
	padding-top: 10%;
}

input[type=checkbox]
{
	position: relative;
	top: 1px;
}

div#divcontent
{
	/*background: #FF00FF;*/
	width: 100%;
	/*height: 600px;*/ /* SHOULD BE ADJUSTED AFTER TESTING*/
	display: flex;
	flex-direction: column;
}

div.subject
{
	margin: 1%;
	border: thin solid #1E5799;
	border-radius: 3px;
	padding: 1%;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}

div.member
{
	margin: 1%;
	border: thin solid #1E5799;
	border-radius: 3px;
	padding: 1%;
}

div.answer
{
	margin: 1% 1% 1% 3%;
	border: thin solid #1E5799;
	border-radius: 3px;
	padding: 1%;
	margin-top: 2px;
	margin-bottom: 2px;
}

p.message
{
	padding: 0% 0% 0% 3%;
}

div.dynorder
{
	order: 1; /* MAYBE DYNAMICALY ADJUSTABLE WITH PHP*/
}

span.note
{
	font-size: 75%;
}

span.mininote
{
	font-size: 60%;
}

a.button
{
	font-size: 75%;
	border: solid #1E5799 thin;
	color: #1E5799;
	margin-left: 1%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-radius: 3px;
}

a{
	text-decoration: none;	
}

a.title
{
	color: #1E5799;
}

a.member
{
	color: #1E5799;
}

a.default
{
	color: #1E5799;
}

a.tag
{
	color: #FFFFFF;
	background: #1E5799;
	margin-right: 0.5%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	border-radius: 3px;
}

a.navlink
{
	width: 5%;
	border: thin solid #1E5799;
	border-radius: 3px;
	color: #1E5799
}

a.next:after
{
	content: ">";
}

a.prev:before
{
	content: "<";
}

.ensurelastorder
{
	order: 999;
}

div.divreply
{
	text-align: center;
}

#divcredits
{
	margin-top: 3%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background: linear-gradient(to right, #1E5799 0%, #207CCA 63%, #207CCA 68%, #2989D8 78%, #2989D8 78%, #7DB9E8 100%);
}

#divcredits ul
{
	text-align: center;
}

#divcredits ul li
{
	display: inline;
	margin:20px;
	color: black;
}

#divcredits ul li a
{
	color: black;
}

#divcredits ul li a:hover
{
	font-style: italic;
}

ul.listbox
{
	border: thin solid #1E5799;
	border-radius: 3px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 3px;
	padding-right: 3px;
	display: flex;
	margin: 0px;
	height: 25px;
}

input[name=tags]
{
	height: 20px;
}

li.listboxitem
{
	list-style-type: none;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 3px;
}

div.divinline
{
	display: inline-flex;
	flex-direction: row;
}