input:valid {
	color: green;
}

input:required {
	box-shadow: none;
}

input:invalid {
	color: red;
}

input:valid + .inputvalidation::before {
	content: "✓";
	color: green;
}

input:invalid + .inputvalidation::before {
	content: "✗";
	color: red;
}

.inputvalidation {
	display: inline-block;
}
